.info {
  display: flex;
  align-items: center;
  border: 2px solid #2D2D47;
  border-radius: 16px;
  padding: 24px 20px;
  width: 100%;
  @media (max-width: 991px) {
    padding: 20px;
    border-radius: 12px;
  }
  @media (max-width: 767px) {
    padding: 9px;
    border-radius: 9px;
  }

  &.sb {
    justify-content: space-between;
  }
  &.c {
    justify-content: center;
  }

  .count {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: #73738A;
    @media (max-width: 991px) {
      font-size: 12px;
    }
  }

  .direction {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    position: relative;
    @media (max-width: 991px) {
      font-size: 19px;
    }

    &:before {
      position: absolute;
      content: '';
      background-image: url('data:image/svg+xml,<svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 10L2.5 18L12.5 26V20H34.5V16H12.5V10Z" fill="%232D2D47"/></svg>');
      background-size: 100%;
      width: 37px;
      height: 36px;
      top: calc(50% - 36px/2);
      @media (max-width: 991px) {
        width: 22px;
        height: 22px;
        top: calc(50% - 22px/2);
      }
    }

    &.left {
      padding-left: calc(37px + 10px);
      @media (max-width: 991px) {
        padding-left: calc(22px + 6px);
      }
      &:before {
        left: 0;
      }
    }

    &.right {
      padding-right: calc(37px + 10px);
      @media (max-width: 991px) {
        padding-right: calc(22px + 6px);
      }
      &:before {
        transform: rotate(180deg);
        right: 0;
      }
    }

    &.top,
    &.bottom {
      padding-left: calc(37px + 10px);
      @media (max-width: 991px) {
        padding-left: calc(22px + 6px);
      }
      &:before {
        left: 0;
      }
    }

    &.top {
      &:before {
        transform: rotate(90deg);
      }
    }
    &.bottom {
      &:before {
        transform: rotate(-90deg);
      }
    }
  }

  h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    @media (max-width: 991px) {
      font-size: 19px;
    }
    @media (max-width: 767px) {
      font-size: 17px;
    }

    &:before {
      position: absolute;
      content: '';
      background-size: 100%;
      width: 32px;
      height: 32px;
      top: calc(50% - 32px/2);
      left: 0;
      @media (max-width: 991px) {
        width: 20px;
        height: 20px;
        top: calc(50% - 20px/2);
      }
    }

    &.success {
      padding-left: calc(32px + 10px);
      @media (max-width: 991px) {
        padding-left: calc(20px + 6px);
      }
      &:before {
        background-image: url('data:image/svg+xml,<svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" width="32" height="32" rx="16" fill="%2300CA99"/><path d="M13.2273 20.2L8.93182 16L7.5 17.4L13.2273 23L25.5 11L24.0682 9.59998L13.2273 20.2Z" fill="white"/></svg>');
      }
    }
    &.error {
      padding-left: calc(32px + 10px);
      @media (max-width: 991px) {
        padding-left: calc(20px + 6px);
      }
      &:before {
        background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="32" height="32" rx="16" fill="%23F12D80"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.45455 8L8 9.45455L14.5455 16L8 22.5455L9.45455 24L16 17.4545L22.5455 24L24 22.5455L17.4545 16L24 9.45455L22.5455 8L16 14.5455L9.45455 8Z" fill="white"/></svg>');
      }
    }
  }

  .btn-play,
  .btn-pause {
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid #D5D4E4;
    border-radius: 32px;
    position: relative;
    @media (max-width: 991px) {
      width: 36px;
      height: 36px;
    }

    &:before {
      position: absolute;
      content: '';
      background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 25V7H13V25H9ZM19 7H23V25H19V7Z" fill="%232D2D47"/></svg>');
      background-size: 100%;
      width: 32px;
      height: 32px;
      top: calc(50% - 32px/2);
      left: calc(50% - 32px/2);
      @media (max-width: 991px) {
        width: 19px;
        height: 19px;
        top: calc(50% - 19px/2);
        left: calc(50% - 19px/2);
      }
    }
  }

  .btn-play {
    &:before {
      background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 7V25L25 16L10 7Z" fill="%232D2D47"/></svg>');
    }
  }

  .btn-pause {
    &:before {
      background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 25V7H13V25H9ZM19 7H23V25H19V7Z" fill="%232D2D47"/></svg>');
    }
  }

  .btn-sound-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 60px;
    background-image: url('data:image/svg+xml,<svg width="168" height="8" viewBox="0 0 168 8" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="8" height="8" fill="%232D2D47"/><rect x="18" width="8" height="8" fill="%232D2D47"/><rect x="36" width="8" height="8" fill="%232D2D47"/><rect x="124" width="8" height="8" fill="%232D2D47"/><rect x="142" width="8" height="8" fill="%232D2D47"/><rect x="160" width="8" height="8" fill="%232D2D47"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 991px) {
      height: 36px;
      background-size: 70%;
    }

    .btn-sound {
      display: block;
      width: 60px;
      height: 60px;
      position: relative;
      @media (max-width: 991px) {
        width: 36px;
        height: 36px;
      }

      &:before {
        position: absolute;
        content: '';
        background-image: url('data:image/svg+xml,<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_1879)"><path d="M0 17.5206H14.1393L35.4099 0.184448V59.8156L14.1393 42.4795H0V17.5206ZM43.4017 14.6927C47.5819 18.873 49.7131 23.955 49.7951 29.9386C49.7951 35.6763 47.6639 40.5943 43.4017 44.6927L39.0984 40.2666C42.0493 37.3157 43.5246 33.8321 43.5246 29.8156C43.5246 25.7173 42.0491 22.1518 39.0984 19.1189L43.4017 14.6927ZM50.7787 7.4386C56.9262 13.5861 60 21.0042 60 29.6927C60 38.3813 56.9262 45.8403 50.7787 52.0698L46.2295 47.5206C51.1476 42.6845 53.6065 36.7625 53.6065 29.7543C53.6065 22.7461 51.1476 16.7829 46.2295 11.8649L50.7787 7.4386Z" fill="%232D2D47"/></g><defs><clipPath id="clip0_1_1879"><rect width="60" height="60" fill="white"/></clipPath></defs></svg>');
        background-size: 100%;
        width: 60px;
        height: 60px;
        top: calc(50% - 60px/2);
        left: calc(50% - 60px/2);
        @media (max-width: 991px) {
          width: 36px;
          height: 36px;
          top: calc(50% - 36px/2);
          left: calc(50% - 36px/2);
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.mountedAnimation {
  animation: fade-in 1s;
}
.unmountedAnimation {
  animation: fade-out 100ms;
}
