.banners {
  min-height: 300px;
  background: #FFF;
  overflow: hidden;
  padding-bottom: 50px;
  @media (max-width: 991px) {
    min-height: 180px;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  @media (max-width: 767px) {
    min-height: 300px;
    padding-bottom: 10px;
  }

  swiper-container {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    @media (max-width: 991px) {
      border-radius: 10px;
    }
  }

  .bn {
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
    border-radius: 20px;
    padding: 40px 80px 20px;
    color: #282828;
    font-size: 24px;
    @media (max-width: 991px) {
      background-size: 100%;
      min-height: 180px;
      border-radius: 10px;
      padding: 25px 50px 10px;
      font-size: 14px;
    }
    @media (max-width: 767px) {
      background-size: cover;
      padding: 20px 27px;
      min-height: 300px;
    }

    &.white {
      color: #fff;
    }

    & h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 16px;
      text-wrap: balance;
      @media (max-width: 991px) {
        font-size: 24px;
        margin-bottom: 10px;
      }
      @media (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 6px;
      }
    }

    & h3 {
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 7px;
      text-wrap: balance;
      @media (max-width: 991px) {
        font-size: 16px;
        margin-bottom: 5px;
      }
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    & p {
      font-size: 1em;
      font-weight: 300;
      line-height: 120%;
      width: 60%;
      text-wrap: balance;
    }

    & time {
      color: #FE4C04;
      font-weight: 700;
    }

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: linear-gradient(180deg, #BA77FF 0%, #7000E3 100%);
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      padding: 13px;
      width: fit-content;
      min-width: 220px;
      margin-top: 26px;
      @media (max-width: 991px) {
        border-radius: 5px;
        font-size: 12px;
        padding: 8px;
        min-width: 132px;
        margin-top: 16px;
      }
    }

    & small {
      position: absolute;
      right: 17px;
      bottom: 17px;
      color: #9D9D9D;
      font-size: 12px;
      font-weight: 300;
      line-height: 100%;
    }
  }

  .bn-offlineUU {
    @media (max-width: 767px) {
      background-position: right bottom;
    }
    .bn-wrap {
      display: flex;
      align-items: flex-end;
      gap: 25px;
      margin-bottom: 15px;
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
      @media (max-width: 767px) {
        gap: 15px;
      }
    }

    & img {
      width: 133px;
      @media (max-width: 991px) {
        width: 90px;
      }
      @media (max-width: 767px) {
        width: 65px;
      }
    }

    & h2 {
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-size: 1.42em;
      font-weight: 700;
      line-height: 120%;
      color: #FBC283;
      margin-bottom: 0;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.65em;
      line-height: 1;
      text-transform: uppercase;
      color: #591E95;
      background-color: #FFFFFF;
      border-radius: 5px;
      padding: 5px calc(2px + 24px);
      position: relative;
      @media (max-width: 767px) {
        padding: 7px calc(10px + 10px) 5px;
        line-height: 0.5;
      }
      &:before,
      &:after {
        position: absolute;
        content: '';
        background-image: url('data:image/svg+xml,<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.4991 15.999C7.05978 15.999 6.70374 15.641 6.70374 15.1991V13.9305L5.67523 14.9649C5.36453 15.2774 4.86101 15.2774 4.55031 14.9649C4.23961 14.6524 4.23961 14.146 4.55031 13.8335L6.70374 11.6678V9.38563L4.73907 10.5263L3.95087 13.4848C3.83704 13.9115 3.40105 14.1647 2.97676 14.0505C2.55248 13.9363 2.30048 13.4975 2.41431 13.0708L2.79063 11.6579L1.69817 12.2923C1.31779 12.5131 0.831215 12.382 0.611672 11.9995C0.39213 11.6169 0.522424 11.1275 0.902805 10.9067L1.99527 10.2724L0.590434 9.89395C0.166144 9.77947 -0.0858523 9.34099 0.0279757 8.91404C0.141565 8.48732 0.578025 8.23412 1.00208 8.34836L3.94371 9.14108L5.90933 7.99964L3.94323 6.85797L1.0016 7.65068C0.577309 7.76492 0.141088 7.51172 0.0272598 7.085C-0.0863295 6.65829 0.165428 6.21957 0.589718 6.10533L1.99455 5.72685L0.902089 5.09254C0.521708 4.8715 0.391175 4.38238 0.610956 3.99982C0.830499 3.61726 1.31707 3.48598 1.69745 3.70702L2.78992 4.34134L2.41359 2.92847C2.3 2.50175 2.55176 2.06303 2.97605 1.94855C3.40034 1.83431 3.83656 2.08751 3.95015 2.51423L4.73835 5.47269L6.7035 6.61365V4.33126L4.55007 2.16551C4.23937 1.85303 4.23937 1.34663 4.55007 1.03415C4.86077 0.721676 5.36429 0.721676 5.67499 1.03415L6.7035 2.06855V0.799916C6.7035 0.358078 7.05954 0 7.49886 0C7.93819 0 8.29423 0.358078 8.29423 0.799916V2.06855L9.32273 1.03415C9.63344 0.721676 10.137 0.721676 10.4477 1.03415C10.7584 1.34663 10.7584 1.85303 10.4477 2.16551L8.29423 4.33126V6.61485L10.2613 5.47269L11.0495 2.51423C11.1631 2.08751 11.5993 1.83431 12.0238 1.94855C12.4481 2.06279 12.6999 2.50151 12.5863 2.92823L12.21 4.3411L13.3024 3.70678C13.683 3.48598 14.1694 3.61702 14.3889 3.99958C14.6087 4.38214 14.4782 4.8715 14.0978 5.0923L13.0053 5.72661L14.4102 6.10509C14.8344 6.21957 15.0862 6.65805 14.9726 7.08476C14.859 7.51148 14.4226 7.76468 13.9985 7.65044L11.0571 6.85773L9.09102 7.9994L11.0566 9.14083L13.9983 8.34812C14.4226 8.23364 14.8588 8.48708 14.9726 8.9138C15.0862 9.34051 14.8344 9.77923 14.4102 9.89371L13.0053 10.2722L14.0978 10.9065C14.4782 11.1275 14.6087 11.6167 14.3889 11.9992C14.1691 12.3818 13.6828 12.5131 13.3024 12.292L12.21 11.6577L12.5865 13.0706C12.7001 13.4973 12.4484 13.936 12.0241 14.0503C11.5998 14.1647 11.1636 13.9113 11.0497 13.4846L10.2615 10.5261L8.2947 9.38419V11.6675L10.4481 13.8333C10.7588 14.1458 10.7588 14.6522 10.4481 14.9646C10.1374 15.2771 9.63391 15.2771 9.32321 14.9646L8.2947 13.9303V15.1989C8.2947 15.6407 7.93866 15.9988 7.49934 15.9988L7.4991 15.999Z" fill="%23591E95"/></svg>');
        background-size: 100%;
        width: 15px;
        height: 16px;
        top: calc(50% - 16px/2);
        @media (max-width: 767px) {
          width: 10px;
          height: 10px;
          top: calc(50% - 10px/2);
        }
      }

      &:before {
        left: 5px;
      }
      &:after {
        right: 5px;
      }
    }

    & p {
      font-size: 0.9em;
      color: #FFF;
      @media (max-width: 767px) {
        font-size: 12px;
        width: 100%;
      }
    }

    .btn-wrap {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      @media (max-width: 991px) {
        margin-top: 10px;
      }
      @media (max-width: 767px) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      & a {
        color: #222222;
        background: linear-gradient(180deg, #FBCD9B 0%, #D0934F 100%);
        margin-top: 0;
      }
      & p {
        font-size: 0.85em;
        font-weight: 300;
        line-height: 120%;
        color: #FFC585;
      }
    }
  }

  .bn-TM {
    background-image: url( 'https://fs.advance.ru/landing-pages/webinar/krp_tonusmozga/bgban-rptp-1180.png');
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/webinar/krp_tonusmozga/bgban-rptp-320.png');
    }
  }

  .bn-20years {
    background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-brain20years.png');
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-brain20years-320.png');
    }
  }

  .bn-platform {
    background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-platform.png' );
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-platform-320.png');
    }
  }

  .bn-edm {
    background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-edm.png');
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-edm-320.png');
    }
  }

  .bn-allcourses {
    background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-allcourses.png' );
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/mainpage/banners-carousel/bgban-allcourses-320.png');
    }
  }

  .bn-bookUU {
    background-image: url( 'https://fs.advance.ru/landing-pages/material/kniga_zapominanie_slov/bgban-bookUU-1180.png' );
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/material/kniga_zapominanie_slov/bgban-bookUU-320.png');
    }
  }

  .bn-nachaloUU {
    background-image: url( 'https://fs.advance.ru/landing-pages/online/uchis_uchitsya_nachalo/bgban-slider-Uustart-1180.png' );
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/online/uchis_uchitsya_nachalo/bgban-slider-UUstart-320.png');
    }
  }

  .bn-offlineUU {
    background-image: url( 'https://fs.advance.ru/landing-pages/offline/uchis_uchitsya/bgban-UU-1180.png' );
    @media(max-width: 767px) {
      background-image: url( 'https://fs.advance.ru/landing-pages/offline/uchis_uchitsya/bgban-UU-320.png' );
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 40px;
    height: 60px;
    top: calc(50% - 60px/2);
    background-size: 100%;
    z-index: 1;
    &:after {
      display: none;
    }
    @media (max-width: 991px) {
      width: 24px;
      height: 36px;
    }
  }
  .swiper-button-prev {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" viewBox="0 0 40 60" fill="none"><g clip-path="url(%23clip0_562_98)"><circle cx="30" cy="30" r="30" transform="matrix(-1 0 0 1 40 0)" fill="white"/><path d="M11.5 40L1 30M1 30L11.5 20M1 30H26" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_562_98"><rect width="40" height="60" fill="white"/></clipPath></defs></svg>');
    left: 0;
  }
  .swiper-button-next {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" viewBox="0 0 40 60" fill="none"><g clip-path="url(%23clip0_562_97)"><circle cx="30" cy="30" r="30" fill="white"/><path d="M28.5 40L39 30M39 30L28.5 20M39 30H14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_562_97"><rect width="40" height="60" fill="white"/></clipPath></defs></svg>');
    right: 0;
  }
}
