.result {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background-color: #FFF;
  border: 2px solid #7000E3;
  border-radius: 10px;
  padding: 10px;

  @media (max-width: 991px) {
    padding: 6px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  .text-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding-left: calc(24px + 6px);
    @media (max-width: 991px) {
      padding-left: calc(14px + 6px);
      gap: 6px;
    }

    &:before {
      position: absolute;
      content: '';
      background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_2736)"><rect width="24" height="24" rx="5" fill="%23FEC842"/><path d="M12 17.2699L18.18 20.9999L16.54 13.9699L22 9.23988L14.81 8.62988L12 1.99988L9.19 8.62988L2 9.23988L7.46 13.9699L5.82 20.9999L12 17.2699Z" fill="%23B721D0"/></g><defs><clipPath id="clip0_1_2736"><rect width="24" height="24" rx="5" fill="white"/></clipPath></defs></svg>');
      background-size: 100%;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      @media (max-width: 991px) {
        width: 14px;
        height: 14px;
      }
    }

    p {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: 300;
      line-height: 120%;
      @media (max-width: 991px) {
        font-size: 14px;
        gap: 6px;
      }
      @media (max-width: 767px) {
        flex-direction: column;
        text-align: center;
      }

      & strong {
        font-weight: 700;
        @media (max-width: 767px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      & span {
        background-color: #FEC842;
      }
    }

    .btn-copy {
      display: inline;
      width: 24px;
      height: 24px;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 16C11 16.5523 10.5523 17 10 17H7C5.61667 17 4.43733 16.5123 3.462 15.537C2.48667 14.5617 1.99933 13.3827 2 12C2 10.6167 2.48767 9.43733 3.463 8.462C4.43833 7.48667 5.61733 6.99933 7 7H10C10.5523 7 11 7.44772 11 8C11 8.55229 10.5523 9 10 9H7C6.16667 9 5.45833 9.29167 4.875 9.875C4.29167 10.4583 4 11.1667 4 12C4 12.8333 4.29167 13.5417 4.875 14.125C5.45833 14.7083 6.16667 15 7 15H10C10.5523 15 11 15.4477 11 16ZM9 13C8.44772 13 8 12.5523 8 12C8 11.4477 8.44772 11 9 11H15C15.5523 11 16 11.4477 16 12C16 12.5523 15.5523 13 15 13H9ZM14 17C13.4477 17 13 16.5523 13 16C13 15.4477 13.4477 15 14 15H17C17.8333 15 18.5417 14.7083 19.125 14.125C19.7083 13.5417 20 12.8333 20 12C20 11.1667 19.7083 10.4583 19.125 9.875C18.5417 9.29167 17.8333 9 17 9H14C13.4477 9 13 8.55229 13 8C13 7.44772 13.4477 7 14 7H17C18.3833 7 19.5627 7.48767 20.538 8.463C21.5133 9.43833 22.0007 10.6173 22 12C22 13.3833 21.5123 14.5627 20.537 15.538C19.5617 16.5133 18.3827 17.0007 17 17H14Z" fill="%237000E3"/></svg>');
        width: 24px;
        height: 24px;
        top: calc(50% - 24px/2);
        left: calc(50% - 24px/2);
      }
    }
  }

  ul {
    display: flex;
    gap: 10px;

    & > li {
      button {
        width: 58px;
        height: 58px;
        padding: 0;
        border-radius: 10px;
        position: relative;
        @media (max-width: 991px) {
          width: 35px;
          height: 35px;
          border-radius: 6px;
        }

        &:before {
          position: absolute;
          content: '';
          width: 24px;
          height: 24px;
          top: calc(50% - 24px/2);
          left: calc(50% - 24px/2);
        }

        &.vk {
          border: 2px solid #4C75A3 !important;
          &:before {
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.8021 14.4118C19.8021 14.4118 21.4191 16.0878 21.8191 16.8634C21.8269 16.8746 21.833 16.887 21.8371 16.9001C22.0001 17.1866 22.0401 17.4112 21.9601 17.5771C21.8251 17.851 21.3681 17.9885 21.2131 18H18.3551C18.1561 18 17.7421 17.9454 17.2381 17.5802C16.8531 17.2979 16.4701 16.833 16.0991 16.3785C15.5451 15.7037 15.0661 15.1181 14.5811 15.1181C14.5198 15.1179 14.459 15.1286 14.4011 15.1496C14.0341 15.2713 13.5681 15.8202 13.5681 17.2821C13.5681 17.7397 13.2241 18 12.9831 18H11.6741C11.2281 18 8.9061 17.8363 6.8471 15.5578C4.32409 12.7682 2.05809 7.17229 2.03609 7.12297C1.89509 6.76089 2.19109 6.56358 2.51109 6.56358H5.39709C5.78409 6.56358 5.91009 6.80917 5.99809 7.02956C6.10009 7.28249 6.4781 8.29421 7.0981 9.43082C8.1021 11.28 8.7191 12.0325 9.2121 12.0325C9.30472 12.0328 9.39578 12.0075 9.4761 11.9591C10.1201 11.5875 10.0001 9.17369 9.9701 8.67623C9.9701 8.57967 9.9691 7.59839 9.6391 7.12402C9.4031 6.78398 9.0011 6.65174 8.7581 6.60346C8.8231 6.50481 8.9611 6.35368 9.1381 6.26447C9.5791 6.03358 10.3761 6 11.1671 6H11.6061C12.4641 6.01259 12.6861 6.07032 12.9981 6.15323C13.6261 6.31065 13.6381 6.7378 13.5831 8.19241C13.5671 8.60801 13.5501 9.07609 13.5501 9.62708C13.5501 9.74462 13.5451 9.87581 13.5451 10.0091C13.5261 10.7553 13.5011 11.5959 14.0031 11.9412C14.0682 11.9838 14.1434 12.0063 14.2201 12.0063C14.3941 12.0063 14.9151 12.0063 16.3281 9.46126C16.9481 8.33724 17.4281 7.01172 17.4611 6.91202C17.4891 6.85639 17.5731 6.70002 17.6751 6.63705C17.7477 6.59653 17.8289 6.57629 17.9111 6.57828H21.3061C21.6761 6.57828 21.9271 6.63705 21.9761 6.78398C22.0581 7.02221 21.9601 7.74952 20.4101 9.94927C20.1491 10.3155 19.9201 10.6325 19.7191 10.9096C18.3141 12.8448 18.3141 12.9425 19.8021 14.4118Z" fill="%234C75A3"/></svg>');
          }
        }

        &.tg {
          border: 2px solid #0088CC !important;
          &:before {
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5825 3.11835L1.98057 10.4496C0.711063 10.9708 0.718407 11.6946 1.74765 12.0173L6.52352 13.54L17.5735 6.41459C18.096 6.08968 18.5734 6.26447 18.181 6.62047L9.22831 14.8782H9.22621L9.22831 14.8793L8.89886 19.9105C9.38149 19.9105 9.59447 19.6842 9.86516 19.4172L12.1849 17.1118L17.0101 20.7544C17.8998 21.2551 18.5387 20.9978 18.7601 19.9126L21.9276 4.65602C22.2518 3.32745 21.4313 2.72589 20.5825 3.11835Z" fill="%230088CC"/></svg>');
          }
        }

        &.ok {
          border: 2px solid #ED812B !important;
          &:before {
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9864 12.341C9.16139 12.341 6.81339 9.995 6.81339 7.219C6.81339 4.347 9.16139 2 11.9874 2C14.9094 2 17.1604 4.346 17.1604 7.219C17.1554 8.58205 16.6093 9.88733 15.6423 10.848C14.6753 11.8086 13.3664 12.346 12.0034 12.342L11.9864 12.341ZM11.9864 5.017C10.7904 5.017 9.88039 6.022 9.88039 7.22C9.88039 8.416 10.7904 9.326 11.9874 9.326C13.2324 9.326 14.0944 8.416 14.0944 7.22C14.0954 6.021 13.2324 5.017 11.9864 5.017ZM14.0464 16.603L16.9694 19.428C17.5444 20.049 17.5444 20.959 16.9694 21.534C16.3474 22.155 15.3884 22.155 14.9094 21.534L11.9874 18.661L9.16139 21.534C8.87439 21.821 8.49039 21.964 8.05839 21.964C7.72339 21.964 7.34039 21.82 7.00439 21.534C6.42939 20.959 6.42939 20.049 7.00439 19.427L9.97439 16.602C8.90182 16.2844 7.87293 15.8346 6.91139 15.263C6.19239 14.88 6.04939 13.923 6.43239 13.204C6.91139 12.486 7.77339 12.295 8.54039 12.774C9.57899 13.4078 10.7722 13.7431 11.9889 13.7431C13.2056 13.7431 14.3988 13.4078 15.4374 12.774C16.2044 12.295 17.1134 12.486 17.5444 13.204C17.9764 13.923 17.7834 14.879 17.1124 15.263C16.2034 15.838 15.1494 16.269 14.0474 16.604L14.0464 16.603Z" fill="%23ED812B"/></svg>');
          }
        }
      }
    }
  }
}
