@font-face {
  font-family: 'Koryaka';
  src: url('https://fs.advance.ru/fonts/Koryaka/KoryakaFree-Rounded.woff');
  src: url('https://fs.advance.ru/fonts/Koryaka/KoryakaFree-Rounded.woff') format('woff'),
    url('https://fs.advance.ru/fonts/Koryaka/KoryakaFree-Rounded.ttf'),
    url('https://fs.advance.ru/fonts/Koryaka/KoryakaFree-Rounded.otf') format('opentype'),
    url('https://fs.advance.ru/fonts/Koryaka/KoryakaFree-Rounded.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
